.menu-card {
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 2px;
  max-width: 800px;
  box-shadow: -4px 4px 6px 2px rgba(0, 0, 0, 0.1);
}

.menu-item-list {
  padding-left: 0;
}

.menu-item-list li {
  padding-left: 0;
}

.section-name {
  font-size: 25px;
  margin-left: 5px;
  font-weight: 600;
}

.menu-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-top: 20px;
}

.menu-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 10px;
}

.menu-item-info div {
  flex: 1;
  margin-right: 1rem;
}

.menu-item-info h4 {
  margin: 0 0 4px;
  font-size: 1rem;
  font-weight: 600;
}

.menu-item-info p {
  margin: 0;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 450px;
}

.menu-item-info span {
  font-weight: bold;
  display: block;
  margin-top: 4px;
  color: #4f372f;
}

.menu-item-image {
  width: 180px;
  height: 105px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  position: relative;
}

@media (max-width: 768px) {
  .menu-card {
    width: 90%;
    height: auto;
    max-height: 80vh;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: none;
  }

  .menu-item-info h4 {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 700;
  }

  .menu-item-info div p {
    font-size: 0.85rem;
    max-width: 500px;
    width: 100%;
    margin: 0;
    line-height: 1.2;
    word-break: break-word;
    white-space: normal;
    overflow: visible;
  }

  .menu-item-info span {
    font-size: 1rem;
  }

  .menu-item-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .menu-item-info div {
    flex: 1;
    white-space: normal;
    max-width: 200px;
    width: 100%;
  }

  .menu-item-image {
    width: 150px;
    height: 90px;
    object-fit: cover;
    margin: 0;
  }

  .checkout-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    position: fixed;
    flex-shrink: 0;
    bottom: 0;
    max-width: 500px;
    width: 100%;
  }

  .checkout-button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #4f372f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 500;
  }
}
